<link rel="stylesheet" href="/styles.css">

<h1>Create New Message</h1>

<form method="POST" action="/messages/new">
    <input type="text" name="title" placeholder="title" required />
    <br><br>
    <textarea name="text" placeholder="Write you message..." required></textarea>
    <br><br>
    <button type="submit">Post Message</button>
</form>